/* Basic jQuery Slider essential styles */



.sombra{
	position:absolute;
	top:0px;
	right:0px;
	z-index:10;
	width:303px;
	height:603px;
	
	
	}




ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;z-index:20;background-image:url(img/adelante.png);background-repeat: no-repeat;background-position: center;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;background-image:url(img/atras.png);background-repeat: no-repeat;background-position: center;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:none;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}